.country {
    border: 5px solid darkblue;
    padding: 5px;
    margin-top: 20px;
    border-radius: 20px;
}

.country-visited {
    border: 5px solid green;
}

.flag{
    max-height: 50px;
    width: auto;
}

.flag-box{
    display: flex;
    gap: 5px;
}
ol{
    width: fit-content;
}